<div class="container-fluid transport-selection-content">
  <h3>Selecciona la tarifa.
    <br><div class="line"></div>
  </h3>
  <div class="summary-selection">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        Bogota
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        Cargena
      </div>
      <div class="col-xs-6 col-md-6">
        <strong>2</strong> Pasajero
      </div>
    </div>
  </div>
  <div class="fares">
    <h4>Tarifas de ida, 9 Septiembre</h4>
    <form action="">
      <div class="fare-list">
        <div class="fare-item">
          <div class="hour">

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <button class="btn btn-success" (click)="validateSelection()">Continuar</button>
    </div>
  </div>
</div>
