.transport-selection-content {
  padding-bottom: 30px;
  padding-top: 20px;
}

h3 {
  .line {
    margin-left: 20px;
    margin-top: 10px;
  }
}

.summary-selection {
  padding: 20px;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 20px auto;
}
