<div class="container-fluid how-works">
  <div class="how-works-content">
    <h2>¿Cómo funciona <strong>QR Trip?</strong>
      <div class="line"></div>
    </h2>
    <div class="row">
      <div class="col-md-6 col-lg-3 step-item">
        <div class="step-icon">
          <i class="fa fa-suitcase fa-5x" aria-hidden="true"> </i>
        </div>
        <p class="title"> 1. Datos de tu viaje.</p>
        <p class="description">Selecciona los <strong>datos de tu viaje</strong>, como origen, destino, fechas y
          cantidad de pasajeros.</p>
      </div>

      <div class="col-md-6 col-lg-3 step-item">
        <div class="step-icon">
          <i class="fa fa-bus fa-5x" aria-hidden="true"> </i>
        </div>
        <p class="title">2. Empresa y tarifa</p>
        <p class="description">Elige la <strong>empresa</strong>, la <strong>tarifa</strong> y los
          <strong>horarios</strong> que más acomoden a tu viaje.
        </p>
      </div>

      <div class="col-md-6 col-lg-3 step-item">
        <div class="step-icon">
          <i class="fa fa-credit-card fa-5x" aria-hidden="true"> </i>
        </div>
        <p class="title"><strong>3. Reserva o Pago</strong></p>
        <p class="description">Selecciona tu medio de pago favorito. <strong>¿No tienes tarjeta?</strong>, no hay lio
          puedes reservar y pagar en la términal.</p>
      </div>

      <div class="col-md-6 col-lg-3 step-item">
        <div class="step-icon"><img
          src="./assets/images/logo_qrtrip.png"
          alt="Call center" width="120px" height="120px"></div>
        <p class="title"><strong>4. QR Trip</strong></p>
        <p class="description">Presenta en la plataforma de abordaje y el bus, tú código <strong>QR Trip</strong>,
          el cuál llegó correo después de realizar el pago.</p>
      </div>

      <div class="col-xs-12 col-md-12 text-center">
        <br>
        <h2>Finalmente, Disfruta tu viaje!<br><i class="fa fa-road fa-1x" aria-hidden="true"> </i>
          <div class="line"></div>
        </h2>
      </div>
    </div>
  </div>
</div>
