<div class="container-fluid search-container">
  <div class="search-content">
    <form [formGroup]="searchForm" (ngSubmit)="validateSearch(searchForm.value)">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="origen">Origen</label>
          <input type="search" name="origin" formControlName="origin" class="form-control" id="origen" placeholder="Bogotá (BOG)" list="originCities">
          <datalist id="originCities">
            <option *ngFor="let city of cities" value="{{city.name}} ({{city.code}})">{{city.name}} ({{city.code}}), {{city.region}}</option>
          </datalist>
        </div>
        <div class="form-group col-md-6">
          <label for="destino">Destino</label>
          <input type="search" name="destination" formControlName="destination" class="form-control" id="destino" placeholder="Cartagena (CTG)" list="destinationCities">
          <datalist id="destinationCities">
            <option *ngFor="let city of cities" value="{{city.name}} ({{city.code}})">{{city.name}} ({{city.code}}), {{city.region}}</option>
          </datalist>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="departureDate">Fecha Salida</label>
          <div class="input-group date" data-provide="datepicker" data-date-start-date="+0">
            <input class="form-control" id="departureDate" name="departureDate" formControlName="departureDate">
            <div class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="arrivalDate">Fecha Regreso</label>
          <div class="input-group date" data-provide="datepicker" data-date-start-date="+0">
            <input class="form-control" id="arrivalDate" name="arrivalDate" formControlName="arrivalDate">
            <div class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="passengers">Pasajeros</label>
          <select name="pasajeros"  class="form-control" id="passengers" name="passengers" formControlName="passengers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">Buscar</button>
      </div>
    </form>
  </div>
</div>
