<div class="container-fluid search-container">
  <div class="search-content">
    <form action="">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="origen">Origen</label>
          <input type="search" class="form-control" id="origen" placeholder="Bogota (BOG)">
        </div>
        <div class="form-group col-md-6">
          <label for="destino">Destino</label>
          <input type="search" class="form-control" id="destino" placeholder="Bogota (BOG)">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
            <label for="fechaSalida">Fecha Salida</label>
            <input type="search" class="form-control" id="fechaSalida" placeholder="Bogota (BOG)">
        </div>
        <div class="form-group col-md-4">
            <label for="fechaRegreso">Fecha Regreso</label>
            <input type="search" class="form-control" id="fechaRegreso" placeholder="Bogota (BOG)">
        </div>
        <div class="form-group col-md-4">
          <label for="pasajeros">Pasajeros</label>
          <input type="number" class="form-control" id="pasajeros" maxlength="1" max="9">
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success" (click)="validateSearch()">Buscar</button>
      </div>
    </form>
  </div>
</div>
